<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
    <link rel="icon" href="/web/images/loader.png"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendor/jquery-autocomplete/css/styles.css"/>
    <link rel="stylesheet" href="/vendor/web-6.1.1/css/all.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/web/css/theme/dark/style.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/vendor/typeahead/jquery.aircomplete.css">
   <link rel="stylesheet" href="/vendor/jcrop/jquery.Jcrop.css">
   <!-- <link rel="stylesheet" href="/vendor/datepicker/bootstrap-datepicker.min.css"> -->
    <link rel="stylesheet" href="/vendor/datepickerNew/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/vendor/tagsinput/tagsinput.css">
    <link rel="stylesheet" href="/vendor/jquery-confirm/jquery-confirm.css">

    <script src="/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/datepickerNew/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendor/jquery-autocomplete/js/jquery.autocomplete.min.js"></script>
   <script src="/vendor/jcrop/jquery.Jcrop.js"></script>
    <script src="/vendor/typeahead/jquery.aircomplete.js"></script>
    <script src="/vendor/jquery-confirm/jquery-confirm.js"></script>

    <script src="/vendor/jquery/js/jquery.twbsPagination.min.js"></script>

    <script src="/vendor/chartjs/js/Chart.min.js"></script>
    <script src="/vendor/toastr/toastr.min.js"></script>
    <!-- <script src="/vendor/datepicker/bootstrap-datepicker.min.js"></script> -->
    <script src="/vendor/tagsinput/tagsinput.min.js"></script>
    <script src="/web/js/main.js"></script>
    <script src="/web/js/webcam.js"></script>
</head>
<body>
<div id="sidebar">
    <header class="sidebar-section">
        <div class="navbar-vertical">
            <div class="user row">
                <img src="/web/images/profile.png">
                <div class="ml-10">
                    <span class="username">[[${session.USER.userId}]]</span><br>
                    <span id="UserRole">[[${session.ROLE}]]</span>
                </div>
            </div>
            <ul class="main-menu visble-menu">
                <li>
                    <a href="/" id="home"><i class="fa fa-home nav-icon" data-toggle="tooltip" data-original-title="Home" aria-hidden="true"></i>
                        <span>Home</span>
                    </a>
                </li>
<!--                 <li class="drop">
                    <a href="#">
                        <em class="fa fa-desktop nav-icon" data-toggle="tooltip" data-original-title="Boards"></em>
                        <span>Boards</span></a>
                </li> -->
                <li>
                    <a href="/attendance" id="attendance"><i class="fa fa-calendar nav-icon ex" data-toggle="tooltip" data-original-title="Attendance"aria-hidden="true"></i><span>Attendance</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/unknownRegistry" id="unknownRegistry"><i class="fa fa-user-times nav-icon ex" data-toggle="tooltip" data-original-title="Unknown Registry"aria-hidden="true"></i><span style="font-size: 18px;">Unknown Registry</span>
                    </a>
                </li> -->
                <li>
                    <a href="/violation" id="violation"><i class="fa fa-ban nav-icon ex" data-toggle="tooltip" data-original-title="Violation"aria-hidden="true"></i><span>Violation</span>
                    </a>
                </li>
                <li class="border-bottom"></li>
                <li></li>
                <li>
                    <a href="/channels" id="channels"><i class="fa fa-cog nav-icon" data-toggle="tooltip" data-original-title="Channel configuration" aria-hidden="true"></i><span class="icon-tooltip">Configuration</span>
                    </a>
                </li>
                 <li>
                    <a href="/members" id="users"><i class="fa fa-users nav-icon" data-toggle="tooltip" data-original-title="Members" aria-hidden="true"></i><span>Members</span>
                    </a>
                </li>
                <li>
                    <a href="#Adms" id="navadms" data-toggle="collapse" aria-expanded="false"> <i class="fas fa-user-cog nav-icon ex" data-toggle="tooltip" data-original-title="Administration"></i><span>Administration  </span>
                    </a>
                    <ul id="Adms" class="nav nav-second collapse mk">
                        <!-- <li class="sec_li"><a href="/data_api"  id="dataapi"><i class="fa fa-cloud" data-toggle="tooltip" data-original-title="Data API"></i> <span>Data API</span>
                        </a></li> -->
                        <li class="sec_li"><a href="/licence"  id="licence"><i class="fa fa-newspaper-o" data-toggle="tooltip" data-original-title="Licence"></i> <span>Licence</span>
                        </a></li>
                        <li class="sec_li"><a href="/settings"  id="data_configuration"><i class="fa-solid fa-gear" data-toggle="tooltip" data-original-title="Settings"></i> <span>Settings</span>
                        </a></li>
                        <!-- <li class="sec_li"><a href="/report"  id="reportPeriod"><i class="fas fa-calendar-plus" data-toggle="tooltip" data-original-title="Report"></i> <span>Report</span>
                        </a></li>                                      -->
                                               
                    </ul>
                </li>
                <li>
                    <a href="/notification" id="notification"><em class="fa-solid fa-bell nav-icon fa-lg" data-toggle="Notification" data-original-title="Notification"></em><span>Notification</span>-->
                    </a>
                </li>
                <li>
                    <a href="/profile" id="profile"><em class="fas fa-user-circle nav-icon fa-lg" data-toggle="tooltip" data-original-title="Profile"></em><span>Profile</span>
                    </a>
                </li>
                <img src="/web/images/Asset 1.png" class="nav-logo">
                <li class="logout">
                    <a href="/logout">
                        <em class="fa fa-power-off nav-icon ex" data-toggle="tooltip" data-original-title="Logout"></em><span>Logout</span>
                    </a>
                </li>

            </ul>
        </div>
    </header>
</div>
<div class="top-nav d-flex justify-content-between">
    <span class="navbar-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
    <div class=" Date-time-div pl-0">
        <span class="Date-time fs-30"></span><span class="am_pm fs-30"></span>
        <!-- <div><i class="fa fa-chevron-up date-move" aria-hidden="true"></i></div> -->
    </div>
    <div class="ivProLogo"><img src="/web/images/ivpro.png"></div>
</div>

<!--<div class="pre-loading">
    <img class="loader" src="/web/images/loader.png"/>
</div>-->
<div layout:fragment="content">

</div>
<script>
     var windowsize = $(window).width();
$(document).ready(function(){
    if ( windowsize > 500 ){
        $('[data-toggle="tooltip"]').tooltip({
        placement : 'right'
       });
    }

    var path = window.location.pathname;
    if(path != "/") {
        var obj = $('a[href*="'+path+'"]');
        obj.addClass("active");
    }
});
</script>
</body>
</html>