<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<head>
  <title>[[${APP_NAME}]] - Agents</title>
</head>
<body>
<div layout:fragment="content" class="contant">
  <div class="pre-loading">
    <img class="loader" src="/web/images/loader.png" />
  </div>
  <div class="heading">
    <span class="heading-text fs-30">Data Configurations</span>
  </div>
  <div class="main-table zoom2">
    <div class="data_api">
      <div class="apisty">
        <div class="col-md-12 p-0" id="data-configuration-margin">
          <label class="dinput-labels">Data retains period <i class="fa fa-question-circle " data-toggle1="tooltip" data-placement="right" title="Data Retains Period keeps the data for the required number of days." ></i></label>
          <div></div>
          <div></div>
          <!-- <input type="text"  class="dlens_input"  id="apiValue" /> -->
            <button class="dropBtn-retains dropdown-toggle" type="button" id="retains-period-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="text">Retains periods</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="retains-period-dd">
              <a class="dropdown-item" href="#" id="fil"  onclick="eachSelect($(this).text())">30 Days</a>
              <a class="dropdown-item" href="#" id="fil" onclick="eachSelect($(this).text())">35 Days</a>
              <a class="dropdown-item" href="#" id="fil" onclick="eachSelect($(this).text())" >40 Days</a>
            </div>
        <div class="col-md-12 p-0"> 
          <label class="dinput-labels">Video save option <i class="fa fa-question-circle " data-toggle1="tooltip" data-placement="right" title="If video save option checked, your video will save; otherwise, it won't." ></i></label>
            <input class="form-check-input" type="checkbox" value="" id="videoSaveOption"/>
          <!-- <input type="text"  class="Report_input"  id="reportValue" /> -->
        </div>

        <div></div>
        <div></div>

        <div class="col-md-12 p-0" id="grace-time">
          <label class="dinput-labels">Expected entry time <i class="fa fa-question-circle " data-toggle1="tooltip" data-placement="right" title="depending on this time, display the on-time entry data." ></i></label>
          <input type="time" id="timeSelector" name="timeSelector">
        
        </div>

      </div>
    </div>
    <div>
      <button type="button"  class="api-button" id="update" >Update</button>
    </div>
  </div>
  <script>
  	$(document).ready(function(){
      $("#navadms").addClass('active');
      $("#Adms").addClass('show');
      $("#dataapi").addClass('active');
      toastr.options = {
          debug: false,
          newestOnTop: false,
          positionClass: "toast-bottom-right",
          closeButton: true,
          progressBar: false,
        }
      $('[data-toggle1="tooltip"]').tooltip({trigger:'click'});
      $(".fa-question-circle").mouseleave(function(){
           $('[data-toggle1="tooltip"]').tooltip('hide');
         })
    })

$("#update").click(function(){console.log("update clicked");})

  function eachSelect(values){
    console.log("selected value : " + values);
    $("#text").html(values);
  }


</script>
</div>

</body>
</html>