<div class="modal fade" id="TrainingModalCenter" tabindex="-1" role="dialog" aria-labelledby="TrainingModalCenterTitle" aria-hidden="true">
  <div id="modal-box" class="modal-dialog modal-dialog-centered" role="document">
    <div id="modal-color" class="modal-content">
      <div class="pre-loading" style="display: none;">
        <span class="progress">
          <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">Processing...</span>
        </span>
      </div>
      <div>
        <span class="userId">Id: <span class="formId" id="trainUserId"></span></span>
        <span class="studentName">Name: <span class="formId" id="trainUserName"></span></span>
        <div class="container-switch po">
          <div class="inner-container" id="toggle-7" enable="false">
              <div id="tg-9"  class="toggle toggle-btn one" flag="one">
                  <p>Upload</p>
              </div>
              <div id="tg-" class="toggle toggle-btn active one" flag="one">
                  <p>Live</p>
                  <i class="fa fa-check-circle df"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-body row col-md-12">
        <div class="col-md-6">
          <div id="scanFace">
            <div class="renlian"></div>
            <div class="fcDetactText">Show front side</div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="camera" id="container">
              <video id="video">Video stream not available.</video>
            </div>
            <div class="training_process">
              <i class="loading-icon fa fa-spinner fa-spin"></i>
              <span class="">Streaming...</span>
            </div>
            <div class="mobile-progress-div">
              <div class="mobile-progress-bar" style="--value:0" aria-valuemax="100"></div>
            </div>
            <canvas id='canvas' width='750' height='1000'></canvas>
            <div id="savedImage">

            </div> 
        </div>
        <span id="finished_trainData">Train data finished..</span>
      </div>
      <div id="remove-footer" class="row row-footer">
        <div class="floating-1 d-none">
            <input id="hostname" type="text" class="input-floating floating-color" name="hostname" placeholder=" " value="15" autocomplete="off" onkeydown="input_not">
            <label class="label-floating">Number of images</label>
            <span class="required-image" id="error-required"></span>
        </div>
        <button class="train-button" onclick="start();">Start Training</button>
        <button class="train-button" onclick="stop();">Stop Training</button>
        <button type="button" class="cancel-button button-fit" data-dismiss="modal" onclick="cancelModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
 var windowsize = $(window).width();
$(document).ready(function(){
  $("#finished_trainData").hide();
  $("#trainUserId").html($("#trainId").val());
  var name=($("#trainName").val()+" "+$("#trainLastname").val());
  $("#trainUserName").html(name);
});
var width = 750;    // We will scale the photo width to this
var height = 1000;   // This will be computed based on the input stream

var streaming = false;

var video = null;
var canvas = null;
var photo = null;
var startbutton = null;
var outputImage =document.getElementById('savedImage');
function startup() {
    video = document.getElementById('video');  
    startbutton = document.getElementById('startbutton');
    navigator.mediaDevices.getUserMedia({
        video: true,
        audio: false
    })
    .then(function(stream) {
        window.localStream = stream;
        video.srcObject = stream;
        video.play();
    })
    .catch(function(err) {
        console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev) {
        if (!streaming) {
            video.setAttribute('width', width);
            video.setAttribute('height', height);
            streaming = true;
        }
    }, false);
    setTimeout(function(){
      takepicture($("#hostname").val());
    },3000);
}
window.addEventListener('load', startup, false);

function enableMethod(id,name){
   $("#trainId").val(id);
   $("#trainName").val(name);
   $.ajax({
    contentType: "application/json;charset=UTF-8",
    url: "/upload",
    type: "GET",
    async: false,
    success: function (data){
        $("#adminForm").html(data);
    }
  });
}
$('#tg-9').click(function() {
    $('#toggle-7').find('.toggle').toggleClass('active');      
    var uploadId= $("#trainId").val();
    var uploadName =  $("#trainName").val();
    enableMethod(uploadId,uploadName);
});

function start(){
   if ($("#hostname").val() == ""){
    $("#error-required").show();
    $("#error-required").html("Validation error: Input should not be empty");
    return false;
  }else if ($("#hostname").val() < 15){
    $("#error-required").show();
    $("#error-required").html("Validation error: Minimum Required 15");
    return false;
  }
  $("#error-required").html("");
  $("#error-required").hide();
  // startup();
  faceDetaction();
}
      
function takepicture(count) {
  var count=5;
  for(i=1; i <= count; i++){
      setTimeout(function() {
          var imgshow= '';
          imgshow= '';
          var canvas = document.getElementById('canvas');
          var context = document.getElementById('canvas').getContext('2d');
          context.drawImage(video, 0, 0, width, height);
          var base64img = canvas.toDataURL('image/png');
          startTraining(base64img);            
          context.clearRect(0, 0, canvas.width, canvas.height);
      }, i * 500);
  }
  // setTimeout(function() {
  //      stop();
  //   //   trainingId($("#trainId").val());
  // }, 500 * count);   
}

function stop() {
  video.pause();
  video.src = '';
  localStream.getVideoTracks()[0].stop();
  clearTimeout(timeout1);
  clearTimeout(timeout2);
  clearTimeout(timeout3);
  clearTimeout(timeout4);
  $(".training_process").css("opacity",0);
  $("#scanFace").hide();
  $(".mobile-progress-div").css("opacity",0);
}

function base64ToBlob(base64, mime) {
  mime = mime || '';
  var sliceSize = 1024;
  var byteChars = window.atob(base64);
  var byteArrays = [];

  for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
      var slice = byteChars.slice(offset, offset + sliceSize);

      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
      }

      var byteArray = new Uint8Array(byteNumbers);

      byteArrays.push(byteArray);
  }

  return new Blob(byteArrays, {type: mime});
}

function startTraining(image){
  $(".training_process").css("opacity",1);
  var base64ImageContent = image.replace(/^data:image\/(png|jpg);base64,/, "");
  var blob = base64ToBlob(base64ImageContent, 'image/png');                
  var formData = new FormData();
  formData.append('file', blob, ".png");
  var sessionToken = "[[${session.USER.sessionToken}]]";
   $.ajax({
        url: "api/v1/user/loadTraining/"+$("#trainId").val(),
        headers:{'CLIENT_KEY':sessionToken},
        type: "PUT",
        enctype: 'multipart/form-data',
        data: formData,
        processData: false,
        contentType: false,
        cache: false,
        async: false,
        complete:function(xhr){
        console.log(xhr.status);
      },
        error:function(){
          setTimeout(function(){ toastr.error("Error found.."); }, 1000); 
      }
   });
}


function trainingId(id){
  stop();
  $(".pre-loading").show();
  var sessionToken = "[[${session.USER.sessionToken}]]";
    $.ajax({
      contentType: "application/json;charset=UTF-8",
      url: "api/v1/user/starTraining/"+id,
      headers:{'CLIENT_KEY':sessionToken},
      type: "PUT",
      async: true,
      success: function(data){
        if(data != 0){
          $(".pre-loading").hide();
          $("#finished_trainData").show();
          setTimeout(function(){ toastr.success("Train data finished.."); }, 1000);
          setTimeout(function(){ cancelModal();},2000);
        }else{
          $(".pre-loading").hide();
          setTimeout(function(){ toastr.error("Error found.."); }, 1000); 
        }
      },
      error:function(){
        setTimeout(function(){ toastr.error("Error found.."); }, 1000); 
      }
    });
    // setTimeout(cancelModal, 2000);
}
var counter=0;
function faceDetaction(){
  /*front side*/
  startup();
  timeout1=setTimeout(function(){
    $("#scanFace").show();
    $(".mobile-progress-div").css("opacity",1); 

    intervel=setInterval(function(){
      if(counter==25){
          clearInterval(intervel);
      }else{
      counter+=5;
      $("#progressbar").attr("style","--value:"+counter);
      $(".mobile-progress-bar").attr("style","--value:"+counter).css("width",+counter+"%");
      }
    },1000)
  },2000)
    /*leftside*/
    timeout2=setTimeout(function(){
      $("#finished_trainData").hide();
      $(".renlian").css({"background": "url('/web/images/left-side.gif') no-repeat","background-size":"100% 100%"});
      $(".fcDetactText").html("Turn left side");
      setTimeout(function(){
        startup();
        clearInterval();
        counter=25;
        intervel1 = setInterval(function(){ 
          if(counter==50){
              clearInterval(intervel1);
          }else{
          counter+=5;
          $("#progressbar").attr("style","--value:"+counter);
          $(".mobile-progress-bar").attr("style","--value:"+counter).css("width",+counter+"%");
          }
        },1000);
      },2000);
    },8000);
    /*look up*/
    timeout3=setTimeout(function(){
      $("#finished_trainData").hide();
      $(".renlian").css({"background": "url('/web/images/right-side.gif') no-repeat","background-size":"100% 100%"});
      $(".fcDetactText").html("Turn right side");
      setTimeout(function(){
        startup();
        counter=50;
        intervel2=setInterval(function(){
          if(counter==75){
              clearInterval(intervel2);
          }else{
          counter+=5;
          $("#progressbar").attr("style","--value:"+counter);
          $(".mobile-progress-bar").attr("style","--value:"+counter).css("width",+counter+"%");
          }
        },1000);
      },2000);
    },20000); 
    /*rightside*/
    timeout4=setTimeout(function(){
      $("#finished_trainData").hide();
      $(".renlian").css({"background": "url('/web/images/front.gif') no-repeat","background-size":"100% 100%"});
      $(".fcDetactText").html("Look up");
      setTimeout(function(){
        startup();
        counter=75;
        intervel3=setInterval(function(){
          if(counter>=100){
              stop();
              clearInterval(intervel3);
              $("#scanFace").hide();
              $(".mobile-progress-div").css("opacity",0);
              trainingId($("#trainId").val());
          }else{
          counter+=5;
          $("#progressbar").attr("style","--value:"+counter);
          $(".mobile-progress-bar").attr("style","--value:"+counter).css("width",+counter+"%");
          }
        },1000);
      },2000);
    },28000); 
}
</script>










      