<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<head>
	<title>[[${APP_NAME}]] - Agents</title>
</head>
<body>
<div layout:fragment="content" class="contant">
	<div class="pre-loading">
    	<img class="loader" src="/web/images/loader.png" />
  	</div>
      <div class="heading">
        <span class="heading-text fs-30">Settings</span>
    </div>
    <div class="main-table zoom2">  
        <div class="data_api">
            <div class="apisty">			
                <div class="col-md-12 d-flex">
                    <div class="col-md-5">
                     <label class="dinput-labels">Day Retains <i class="fa fa-question-circle " data-toggle1="tooltip" data-placement="right" title="don" ></i></label>
                    </div>
                    <div class="col-md-7">
                        <select class="retains_sec" id="Select">                  
                            <option selected="" value=""></option>
                            <option value="30">30 Days</option>
                            <option value="35">35 Days</option>
                            <option value="40">40 Days</option>
                         </select>
                    </div>
                </div>   
                <div class="col-md-12 d-flex pt-3">
                    <div class="col-md-5">
                         <label class="dinput-labels">Video Save <i class="fa fa-question-circle " data-toggle1="tooltip" data-placement="right" title="don" ></i></label>
                    </div>
                    <div class="col-md-7">
                        <input type="checkbox" class="save_check">
                     </div>
                </div>          
                    
            </div>
        </div>

    </div>
<script>

</script>

</div>
</body>
</html>